.footer{
    text-align: center;
    padding: 30px 4%;
    max-width: 100%;
    margin: 0 auto;
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url();
}

.footer-icons{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
}
.footer-icons img{
    width: 50px;
    cursor: pointer;
}

.footer ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    margin-bottom: 30px;
    list-style: none;
}
.copyright-text{
    color: gray;
    font-size: 14px;
    text-align: center;
}

/*Responsive section*/

@media(max-width: 600px) {
    .footer-icons img{
        width: 25px;
    }
    .footer ul{
        grid-template-columns:  auto auto;
        gap: 8px;
        font-size: 14px;
    }
}

/*TMDV DATABASE AND FIREBASE AUTHENTICATION*/